/* variables */

:root {
  --main-color: #1f2937;
  --secondary-color: #030712;
  --darkened-color: #374151;
  --lightened-color: #697688;
  --text-color: white;
  --dark-mode: #030712;
  --marker-color: rebeccapurple;
  --main-pad-margin: 0.5rem 1rem;
  --main-border: 2px solid --main-color;
  --main-border-radius: 0.5rem;
  --main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --main-font-size: 1.2rem;
}
